<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.attendance">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="com.android.hardware.Camera.focus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/c"
        android:label="@string/app_name"
        android:roundIcon="@drawable/c"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StudentCourse"
            android:label="Course" />
        <activity
            android:name=".JoinNewCourse"
            android:label="Join A New Course" />
        <activity
            android:name=".StudentHome"
            android:label="Student Home"/>
        <activity
            android:name=".TakeAttendace"
            android:label="Take Attendance"/>
        <activity
            android:name=".CreateNewCourse"
            android:label="Create A New Course"/>
        <activity
            android:name=".FacultyCourse"
            android:label="Course"/>
        <activity
            android:name=".FacultyHome"
            android:label="Faculty Home"/>
        <activity
            android:name=".SignUp"
            android:label="Register"/>
        <activity
            android:name=".Login"
            android:label="Login"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
    </application>

</manifest>